/*
<<<<<<< HEAD
Searching, move into site specific styles
 */

/* Hide mi away and filter */
#blankslate-container #blankslate-list-results ul.blankslate-results-list li .distance,
#blankslate-container #blankslate-filter-container {
	display: none;
}

#blankslate-container .blankslate-sidebar-widgets {
    margin-top: 5px;
}

a.blankslate-sort[sort=distance] {
display: none;
}

#blankslate-container .header-widget a,
#blankslate-container #blankslate-categories {
	display: none;
}

#blankslate-sidebar-article.sidebar-businesses header .see-more,
#blankslate-sidebar-aside.sidebar-businesses header .see-more {
	font: 500 15px 'Oswald', serif;
}

#blankslate-sidebar-article.bs-widget-pack.sidebar-businesses h3 a,
#blankslate-sidebar-aside.bs-widget-pack.sidebar-businesses h3 a,
#blankslate-sidebar-article.bs-widget-pack.sidebar-businesses h3,
#blankslate-sidebar-aside.bs-widget-pack.sidebar-businesses h3 {
	font: 300 22px 'Oswald', serif;
}

#pg-25126-0, .panel-grid-cell .panel {
	margin-bottom: 0 !important;
}

.directory-title {
	font: 300 30px 'Oswald';
}

.panel .social-network-wrapper {
text-align: right;
float: right;
padding: 0 0 10px;
}

#blankslate-searchform {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 0;
	background: #eee;
	margin-bottom: 20px;
}

.mobile-search-trigger,
.mobile-search-cancel {
	display: none;
}

#blankslate-searchform  .title-hold a {
	color: #000;
	font: 300 22px 'Oswald';
}

#blankslate-searchform .mobile-search {
	display: flex;
	align-items: center;
	margin-left: 12px;
}

#blankslate-searchform .mobile-search .where-hold {
	display: none;
}

#blankslate-searchform #blankslate-what.blankslate-whatbox {
	background: #fff;
	margin: 0;
	padding: 0 18px;
	font: 300 20px 'Source Sans Pro', sans-serif;
	color: #000;
	font-style: italic;
	width: 300px;
	height: 40px;
	box-shadow: none;
	border: 1px solid grey;
}

#blankslate-searchform #blankslate-search {
	background: linear-gradient(#666,#000 95%);
	border-radius: 0;
	height: 42px;
	padding: 0 12px;
	font: 300 20px 'Source Sans Pro', sans-serif;
}

#blankslate-searchform #blankslate-search:hover {
	background: #000;
	font: 300 20px 'Source Sans Pro', sans-serif;
}

.search-form.show-categories {
	display: none;
}


=======
* CSS
 */

>>>>>>> 055f10d13eb4e793fed4075db740d8e84049be88
.panel-grid-cell .panel.widget_blankslateherounitwidget {
	margin-bottom: 0;
}

#neighborhood-widget .neighborhood_list .neighborhood-hold .content-hold {
	background: #092334;
	color: #fff;
	font: 300 1.1em 'Source Sans Pro';
	bottom: 0;
	width: 100%;
	position: absolute;
}

#neighborhood-widget .neighborhood_list {
	overflow: auto;
	padding: 0;
}

#neighborhood-widget .neighborhood_list li:first-child .neighborhood-hold .content-hold p:first-child,
.neighborhood-hold .content-hold p,
#neighborhood-widget .neighborhood_list li:first-child .neighborhood-hold .post-meta,
#neighborhood-widget .neighborhood_list .neighborhood-hold .content-hold p:first-child {
	margin: 0;
	color: #fff;
	list-style: none;
}

@media ( max-width: 600px ){
	#blankslate-searchform {
		flex-direction: column;
		overflow: auto;
	}

	#blankslate-searchform #blankslate-what.blankslate-whatbox {
		width: 150px;
	}
}

/*
*	Business Loop Widget
**/
ul.cat_list {
	margin-left:25px;
	display:none;
}

ul.cat_list li {
	padding:0px 8px;
	border:1px solid #EEE;
	padding-left:0;
}

ul.cat_list li span {
	padding:0px;
	display:block;
	float:left;
	text-align:center;
	width:20px;
	background:#EEE;
	margin-right:10px;
	cursor:pointer;
	color:#EEE;
}

ul.cat_list li span.expand {
	color:#000;
}

ul.cat_list.level-0 {
	display:block;
	margin-left:0px;
}

/*
* Base Styles for Widget
**/

i.blankslate-icon {
	background-image: url('https://pbs.twimg.com/profile_images/449173857874628608/KOtObzXA_400x400.png');
}

.pages-card {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.pages-card:last-of-type + * {
	clear: both;
}

.pages-card .inner:hover {
	border-color: #c43658;
}

.pages-card .inner {
	border: 1px solid #ccc;
	background: #eaeaea;
}

.pages-card .icon-location {
	font-family: icomoon;
}

.pages-card a.link-wrap {
	color: #535863;
}

.pages-card a:hover {
	text-decoration: none;
}

.pages-card,
.pages-card * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.pages-card .img-hold {
	border-bottom: 1px solid #fff;
	overflow: auto;
}

.pages-card .img-hold img {
	float: left;
}

.pages-card	.text-hold {
	background: #eaeaea;
	padding: 10px;
}

.pages-card	.text-hold > span {
	display: block;
}

	.pages-card .card-name {
		font-family: 'Source Sans Pro', Arial;
		font-size: 14px;
		line-height: 14px;
		color: rgb(25,25,25);
		margin-bottom: 10px;
		height: 40px;
		font-weight: 600;
		display: block;
	}

	.pages-card .card-address {
		font: 500 12px 'Source Sans Pro', Arial;
		height: 30px;
		color: #666;
	}

	.pages-card .card-address:hover {
		color: rgb(25,25,25);
	}

	.pages-card .card-address img {
		float: left;
		padding-right: 6px;
	}

@media ( max-width: 896px ) {
	.pages-card {
		width: 50%;
	}

	.pages-card .inner {
		height: auto;
	}
}

@media ( max-width: 850px ) {
	.pages-card {
		width: 100%;
	}

	.pages-card .inner {
		height: auto;
	}

	.pages-card .img-hold {
		overflow: inherit;
	}

	.pages-card .img-hold img {
		height: 100px;
	}

	.pages-card .link-wrap {
		float: left;
	}

	.pages-card .text-hold {
		overflow: auto;
		width: auto;
		border-top: none;
		border-left: 1px solid #fff;
		height: 100px;
		padding: 5px;
	}

		.pages-card .card-address {
			font-size: 12px;
			height: 25px;
		}
}


/* category hidden by default */
.pattern-loop .info-hold .category {
	display: none;
}

.show-category .pattern-loop .info-hold .category {
	display: block;
}

.page section.blogmain.page-wide {
	width: auto;
	background-color: #fff;
}

@media (max-width: 600){
	.page section.blogmain.page-wide {
		padding: 6px;
	}
}

.bs-widget-pack .img-hold a {
	float: left;
}


.entry-content .bs-widget-pack ul {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}

.bs-widget-pack header {
	padding: 0;
	clear: both;
	overflow: auto;
}

.bs-widget-pack img {
	max-width: 100%;
	height: auto;
	width:100%;
}

.bs-widget-pack header h3 {
	font: 600 17px 'Source Sans Pro', sans-serif;
	color: #FFF;
	padding: 5px 10px;
	float: left;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.bs-widget-pack header h3 .widget-see-more{
	float:right;
	margin-right:5px;
	color:#FFF;
}
 
.otw-sidebar > * {
	clear: both;
	padding-bottom: 10px;
	overflow: auto;
	
}
.otw-sidebar .widget_adzonewidget{
	float:right;
}
/*Sort These*/
.bs-widget-pack .blankslate-business-list li {
	cursor: pointer;
}

.bs-widget-pack .entry-content a,
.bs-widget-pack .entry-content a:link {
	font: 500 16px 'Source Sans Pro', sans-serif;
	color: #007ac7;
}

.bs-widget-pack .entry-content a:hover {
	text-decoration: underline;
	color: #008DE6;
}

.bs-widget-pack .post-meta li {
	display: none;
}

.bs-widget-pack .post-meta li:first-child {
	display: block;
	font-size: 20px;
	padding-bottom: 10px;
}

.container .bs-widget-pack .entry-content p {
	margin: 0;
}


/*
*		Hero Unit
**/
.blankslate-hero-unit .hero-image {
	border-top: 5px solid #2497DF;
	position: relative;
	overflow: hidden;
}

	.blankslate-hero-unit .hero-image .image-tag {
		position: absolute;
		background: #2497DF;
		color: #fff;
		text-transform: uppercase;
		padding: 10px;
	}
	
	.neighborhood_list a:hover {
		text-decoration: none;
	}
	
	.blankslate-hero-unit .hero-image img {
		max-width: 100%;
		height: auto;
		float: left;
	}

	@media ( max-width: 600px ){
		.blankslate-hero-unit .hero-image img {
			float: none;
		}
	}

	.blankslate-hero-unit .hero-image .title-hold {
		width: 100%;
		position: absolute;
		bottom: 0;
		background: rgba(29, 52, 66, 0.9);
	}

		.blankslate-hero-unit .hero-image .title-hold h1 {
			color: #fff;
			margin: 0;
			font: 100 45px 'Source Sans Pro';
			padding: 10px;
		}

		.blankslate-hero-unit .hero-image .title-hold .post-meta,
		.blankslate-hero-unit .hero-image .title-hold h2 {
			color: #cccbc7;
			padding: 0 10px 10px;
			font: 100 20px/24px 'Source Sans Pro', sans-serif;
			margin: 0;
		}

			.blankslate-hero-unit .hero-image .title-hold .post-meta-key {
				display: none;
			}

	.blankslate-hero-unit .body-content p {
		color: #000;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

		.blankslate-hero-unit .body-content .entry-header {
			display: none;
		}
		
	.blankslate-hero-unit .prev-item,
	.blankslate-hero-unit .next-item {
		position: absolute;
		bottom: 0;
		width: 15%;
		background: #1f3d4c;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		padding: 5px;
	}

	@media (max-width: 600px){
		.blankslate-hero-unit .prev-item,
		.blankslate-hero-unit .next-item {
			display: none;
		}
	}

		.blankslate-hero-unit .image-link {
			position: relative;
		}

		.blankslate-hero-unit .image-link span {
			font: 500 16px 'Source Sans Pro', sans-serif;
			color: #fff;
			z-index: 1;
			position: absolute;
			left: 10%;
			top: 40%;
		}
		.blankslate-hero-unit .image-link .overlay {
			background: rgba(29, 52, 66, 0.6);
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
		}

	.blankslate-hero-unit .prev-item i,
	.blankslate-hero-unit .next-item i {
		color: #B1C6CD;
		font-size: 50px;
	}
		.blankslate-hero-unit .prev-item i {
			padding-right: 20px;
		}

		.blankslate-hero-unit .next-item i {
			padding: 0 10px;
		}
	
	.blankslate-hero-unit .prev-item {
		left: 0;
	}
	
	.blankslate-hero-unit .next-item {
		right: 0;
	}

@media ( max-width: 1024px ){
	.blankslate-hero-unit .body-content {
		margin: 0 10px;
	}
}

@media ( max-width: 600px ){
	.blankslate-hero-unit .hero-image .image-tag {
		padding: 5px;
	}
	.blankslate-hero-unit .hero-image .title-hold {
		width: 100%;
		left: 0;
		position:relative;
		margin-top:-6px;
		opacity:1;
	}

	.blankslate-hero-unit .hero-image .title-hold h1 {
		color: #fff;
		font-family: "PT Sans", sans;
		font-weight: bold;
		margin: 0;
		font: 100 26px 'Source Sans Pro';
		padding: 0 10px;
	}

	.blankslate-hero-unit .hero-image .title-hold .post-meta {
		color: #cccbc7;
		font-weight: 100;
		line-height: 18px;
		font-size: 14px;
		padding: 0 10px 5px;
	}
}

/*
* Business Loop Widget
**/
.blankslate-business-loop header h3 {
	background: #112B3A;
}

.blankslate-business-loop header {
	border-top: 5px solid #112B3A;
}

.blankslate-business-loop .blankslate-business-list {
	clear:both;
}

.blankslate-business-loop .blankslate-business-list li {
	width: 23%;
	float: left;
}
	@media (max-width: 600px){
		.blankslate-business-loop .blankslate-business-list li {
			width: 44%;
			margin: 0 3% 20px;
			height: 240px;
			background: #fff;
		}
	}

.blankslate-business-loop .blankslate-business-list .blankslate-biz-hold {
	background: transparent;
}

.blankslate-business-loop .blankslate-business-list .blankslate-biz-info {
	height: auto;
	padding: 0;
}

.blankslate-business-loop .blankslate-business-list .blankslate-biz-info .business-name,
.blankslate-business-loop .blankslate-business-list .blankslate-biz-info .business-name a {
	font-size: 20px;
	line-height: 22px;
	padding-top: 10px;
}

.blankslate-business-loop .blankslate-business-list .blankslate-biz-info .featured-business-neighborhood,
.blankslate-business-loop .blankslate-business-list .blankslate-biz-info .category {
	display: none;
}

.blankslate-business-loop .blankslate-biz-img img {
	box-shadow: 10px 10px 0px 0px #ffeb7e;
}

/*
* Blogroll Widget 
**/
.directory-blogroll * {
	box-sizing: border-box;
}

.directory-blogroll li {
	width: 50%;
	padding-bottom: 12px;
	min-height: 142px;
	padding-right: 10px;
}

.directory-blogroll.left li {
	float: left;
}

.directory-blogroll.right li {
	float: right;
}

.directory-blogroll li .image {
	width: 30%;
	float: left;
}

.directory-blogroll li .content {
	width: 70%;
	float: left;
	padding-left: 6px;
}

.directory-blogroll li:first-of-type .image,
.directory-blogroll li:first-of-type .content {
	width: 100%;
}



.directory-blogroll header {
	border-top: 5px solid #112B3A;
}

.container .directory-blogroll .feature-post .content h2 {
	margin-top: 10px;
}

.directory-blogroll h3 {
	font: 600 17px 'Source Sans Pro', sans-serif;
	color: #FFF;
	padding: 5px 10px;
	background: #112B3A;
	float: left;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.directory-blogroll > div {
	width: 50%;
	float: left;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.directory-blogroll.right > div {
	float: right;
}
	@media (max-width: 728px){
		.directory-blogroll > div {
			width: 100%;
		}

		.directory-blogroll li {
			width: 100%;
		}

		.secondary-posts li {
			padding-bottom: 12px;
			float: left;
			display: block;
		}
	}

.directory-blogroll.left .feature-post {
	padding-right: 5px;
}
.directory-blogroll.right .feature-post {
	padding-left: 5px;
}

@media (max-width: 728px){
	.directory-blogroll.left .feature-post,
	.directory-blogroll.right .feature-post {
		padding: 0 0 12px;
	}
}

.entry-content .directory-blogroll .feature-post {
	clear: both;
}

.entry-content .directory-blogroll .secondary-posts li {
	overflow: auto;
	padding: 0 10px 10px;
	clear: both;
}

.directory-blogroll .secondary-posts .image {
	width: 30%;
	float: left;
	display: inline-block;
}

.directory-blogroll .secondary-posts .content {
	width: 70%;
	float: left;
	display: inline-block;
	padding: 0 0px 0 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

	.container .directory-blogroll .content h2 {
		margin: 0;
		color: black;
		font: 600 18px/20px 'Source Sans Pro', sans-serif;
	}
		@media (max-width: 600px){
			.container .directory-blogroll .content h2 {
				font-size: 18px;
			}
		}

	.container .directory-blogroll .content p {
		margin: 0;
		font: 500 16px 'Source Sans Pro', sans-serif
	}
		@media (max-width: 600px){
			.container .directory-blogroll .content p {
				font-size: 15px;
			}
		}

/*
* Map Widget 
**/

.business-and-post-widget header h3 {
	background: #112B3A;
}

.business-and-post-widget .map-content {
	padding: 0 20px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.page .business-and-post-widget .map-content p {
	margin: 0;
	padding-bottom: 48px;
	font: 300 20px 'Source Sans Pro', sans-serif;
}

/*
*		Neighborhood Slider
**/
.BlankSlateNeighborhoodSliderWidget {
	width: 100%;
	border: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.BlankSlateNeighborhoodSliderWidget .neighborhood-slider h3 {
	background: #DE5666;
}

.entry-content .neighborhood-slider ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.neighborhood-slider .flexslider {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;

	background: #0C2333;
}

.flex-direction-nav a {
	height: 100px;
	line-height: 100px;
}

.neighborhood-slider .flex-direction-nav .flex-next,
.neighborhood-slider .flex-direction-nav .flex-prev {
	top: 40px;
}

.neighborhood-slider header {
	margin: 10px 0 0;
	border-top: 5px solid #DE5666;
	overflow: auto;
}

.neighborhood-slider h3 {
	background: #DE5666;
}

.neighborhood-slider .flexslider .slides > li {
	padding: 10px;
	cursor: pointer;
}

.neighborhood-slider .flexslider .slides > li h5 {
	color: #ADC6CA;
	font: 600 15px 'Source Sans Pro', sans-serif;
	padding: 5px 0;
}

.flex-direction-nav a.flex-prev:before {
	content: "\f104";
	font-family: FontAwesome;
	color: #FFF;
	font-size: 70px;
}

.flex-direction-nav a.flex-next:before {
	content: "\f105";
	font-family: FontAwesome;
	color: #FFF;
	font-size: 70px;
}

/*
*	Post and Business Widget
**/

/*
*	General
**/
.BlankSlateDirectoryPostAndBusinessesWidget {
	width: 100%;
	border: 0;
	box-shadow: none;
	overflow: auto;
}

.business-and-post-widget {
	border-top: 5px solid #112B3A;
}

.business-and-post-widget img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

.BlankSlateDirectoryPostAndBusinessesWidget .business-and-post-widget header h3 {
	background: #112B3A;
}

.business-and-post-widget header {
	padding: 0;
}

.business-and-post-widget .content-wrapper {
	clear: both;
}

.business-and-post-widget .content-wrapper > div {
	width: 50%;
	float: left;
	-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}

.business-and-post-widget.right .content-wrapper > div{
float: right;
}

@media (max-width: 728px){
	.business-and-post-widget .content-wrapper > div {
		width: 100%;
	}
}

/*
*	Business Listings
**/

.business-and-post-widget .blankslate-biz-img {
	text-align: center;
}

.business-and-post-widget .blankslate-business-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	list-style: none;
}

.blankslate-business-list li {
	width: 31.33%;
	padding: 0;
	margin: 0 1% 20px;
	background: transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}

		@media (max-width: 1024px){
			.blankslate-business-list li {
				width: 31.33%;
			}
		}

		@media (max-width: 728px){
			.blankslate-business-list li {
				width: 48%;
			}
		}


.blankslate-business-list .blankslate-biz-hold {
	background: #f2f2f2;
}

.blankslate-business-list .blankslate-biz-info {
	padding: 0 0 35px 5px;
	position: relative;
} 

.blankslate-business-list .blankslate-biz-info .category {
	font: 500 13px 'Source Sans Pro';
}

.blankslate-business-list .featured-business-neighborhood {
	padding: 0;
	font: 500 14px 'Source Sans Pro';
	height: auto;
	overflow: inherit;
	position: absolute;
	bottom: 5px;
	left: 10px;
	display: none;
}

.blankslate-business-list .blankslate-biz-info .business-name,
.blankslate-business-list .blankslate-biz-info .business-name a {
	font: 600 14px/16px 'Source Sans Pro';
	color: #202020;
}
.blankslate-business-list .blankslate-biz-info .business-name a:hover {
	text-decoration: none;
}

.blankslate-business-list .blankslate-biz-info address {
	display: none;
}

/*
*	Blog Post
**/
.business-and-post-widget .blog-post {
	padding-right: 15px;
}
.business-and-post-widget.right .blog-post {
	padding: 0;
}
	@media (max-width: 728px){
		.business-and-post-widget .blog-post {
			padding: 0 0 10px;
		}
	}

.business-and-post-widget .blog-post h2 {
	font: 600 20px 'Source Sans Pro', sans-serif;
	color: #202020;
} 
	@media (max-width: 600px) {
		.business-and-post-widget .blog-post h2 {
			font-size: 18px;
		}
	}

.business-and-post-widget .blog-post p {
	font: 500 16px 'Source Sans Pro', sans-serif;
}
	@media (max-width: 600px) {
		.business-and-post-widget .blog-post p {
			font-size: 15px;
		}
	}

/*****************************************************************************************************
*
*		Post and Business Widget
*
*****************************************************************************************************/

.business-and-post-widget .wrap {
	width: 32.33%;
	margin-right: 1%;
	margin-bottom: 10px;
	background: #f4f4f4;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.business-and-post-widget .info-hold {
	padding: 5px;
}

.business-and-post-widget .info-hold > span {
	display: block;
	margin-bottom: 3px;
}

.business-and-post-widget .info-hold .name {
	font: 700 16px/18px 'Source Sans Pro', sans-serif;
}

.business-and-post-widget .info-hold .phone {
	color: #686868;
	font: 600 13px 'Source Sans Pro', sans-serif;
}

.business-and-post-widget .info-hold .address {
	color: #039EC3;
	font: 500 13px 'Source Sans Pro';
}

.business-and-post-widget .info-hold p {
	display: none;
}

.business-and-post-widget .info-hold .address i {
	padding-right: 5px;
}

.business-and-post-widget .col-1-2 .wrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.business-and-post-widget .col-1-2 .info-hold {
	padding-left: 10px;
}

/*****************************************************************************************************
*
*		Showcase Widget
*
*****************************************************************************************************/

.col-1-3 {
	width: 32.33%;
}

@media (max-width: 1024px){
	.col-1-3 {
		width: 49%;
	}
}

.showcase-widget .col-1-3:nth-of-type(3n){
	width: 33.33%;
	margin-right: 0; 
}

@media (max-width: 1024px){
	.showcase-widget .col-1-3:nth-of-type(3n){
		width: 49%;
		margin-right: 1%; 
	}

	.showcase-widget .col-1-3:nth-of-type(2n){
		width: 50%;
		margin-right: 0;
	}
}

.showcase-widget .showcase-item {
	float: left;
	padding: 50px 40px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.showcase-widget .info-hold {
	background: rgba(15,15,15,.75);
	height: 85px;
	padding: 10px;
	display: block;
}
	.showcase-widget .info-hold:hover {
		text-decoration: none;
		opacity: .7;
	}

.showcase-widget .info-hold h4,
.showcase-widget .info-hold h5 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	text-transform: capitalize;
}

.showcase-widget .info-hold h4 {
	font: 500 18px 'Source Sans Pro';
}

.showcase-widget .info-hold h5 {
	color: #d2d0d1;
	font: 300 13px 'Source Sans Pro', sans-serif;
}

@media (max-width: 728px){
	/* Showcase */
	.showcase-widget .col-1-3:nth-of-type(2n){
		width: 100%;
		margin-right: 0;
	}

	.showcase-widget .col-1-3 {
		margin: 0 0 12px;
		width: auto;
		float: none;
	}

	.showcase-widget .col-1-3:nth-of-type(3n){
		width: auto;
		margin: 0 0 12px;
		float: none;
	}

	.pattern-loop > .grid {
		display: block;
	}

	.col-1-6,
	.col-1-6:last-of-type {
		width: 48%;
		float: left;
		margin: 1%;
	}
}

/*****************************************************************************************************
*
*		Pattern Loop Widget
*
*****************************************************************************************************/
	.pattern-loop .info-hold .category {
		color: #636361;
		text-transform: capitalize;
	}

	.pattern-loop a.wrap:hover {
		text-decoration: none;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	[class*='col-'] {
		margin-right: 1%;
		margin-bottom: 10px;
		background: #F2F2F2;
		-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	[class*='col-'].empty-no-biz{background:transparent;}
	[class*='col-']:last-of-type {
		margin-right: 0;
	}

	.col-1-2:last-of-type {
		width: 50%;
	}

	.col-1-2 {
		width: 50%;
	}

	.col-1-6 {
		width: 15.6%;
	}

	.col-1-6:last-of-type {
		width: 15.66%;
	}

	.col-1-4:last-of-type {
		width: 25%;
	}

	.col-1-4 {
		width: 25%;
		background: #fff;
		padding: 0;
	}

	.pattern-loop .col-1-4 .info-hold .name {
		font-size: 18px;
		font-family: 20px;
	}

	.col-1-4 .info-hold p {
		display: none;
	}

	.pattern-loop > .grid {
		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

	.pattern-loop .info-hold {
		padding: 5px;
	}

	.pattern-loop .info-hold > span {
		display: block;
		margin-bottom: 3px;
	}

	.pattern-loop .info-hold .name {
		font: 600 15px/16px 'Source Sans Pro', sans-serif;
		color: #000;
	}

		.pattern-loop .col-1-2 .info-hold .name {
			font-size: 18px;
			font-weight: 600;
			line-height: 20px;
		}

	.pattern-loop .info-hold .phone {
		color: #686868;
		font: 600 13px 'Source Sans Pro', sans-serif;
	}

		.pattern-loop .col-1-2 .info-hold .phone {
			font-weight: 500;
			font-size: 14px;
		}

	.pattern-loop .info-hold .address {
		color: #039EC3;
		font: 500 13px 'Source Sans Pro';
	}

		.pattern-loop .col-1-2 .info-hold .address {
			font-size: 14px;
		}

	.pattern-loop .info-hold .address i {
		padding-right: 5px;
	}

	.pattern-loop .col-1-6 .info-hold p {
		display: none;
	}
	.pattern-loop .col-1-6 .wrap{
		cursor: pointer;
	}
	.pattern-loop .col-1-6 .wrap .img-hold{
		max-height: 110px;
		overflow: hidden;
	}

	.pattern-loop .col-1-6 .wrap .img-hold > a {
		float: left;
	}

	.pattern-loop .col-1-2 .info-hold p {
		margin: 0;
		font: 400 15px/17px 'Source Sans Pro', sans-serif;
		color: #000;
	}

	.pattern-loop .col-1-2 {
		background: #fff;
	}

	.pattern-loop .col-1-2 .wrap {
		display: -webkit-box;
		display: -moz-box; 
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		cursor: pointer;
	}

	.pattern-loop .col-1-2 img {
		width: 100%;
		float: left;
	}

	.pattern-loop .col-1-2 .img-hold {
		width: 50%;
	}

		.pattern-loop .col-1-2 .info-hold {
			padding: 0 0 0 10px;
			width: 50%;
		}

	.bs-widget-pack .widget-see-more--bottom {
		color: #000;
		border: 3px solid #000;
		font: 600 18px/16px 'Source Sans Pro', sans-serif;
		width: auto;
		float: right;
		text-decoration: none;
		padding: 6px 6px;
		box-sizing: border-box;
		display: inline-block;

		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;

		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
	}
	.bs-widget-pack .widget-see-more--bottom:hover {
		background: #000;
		color: #fff;
	}

	.bs-widget-pack .widget-see-more--bottom .content {
		padding-right: 12px;
	}
	
	.bs-widget-pack .icon-chevron-right {
		display: inline-block;
	}

	.bs-widget-pack .icon-chevron-right:before {
		font-family: 'fontAwesome';
	}
		
@media (max-width: 728px){
	.pattern-loop > .grid {
		display: block;
	}

	.loop-one-three .col-1-2,
	.loop-three-one .col-1-2,
	.loop-two .col-1-2 {
		width: 100%;
		margin: 10px 0 0;
		padding: 0 0 10px;
	}

	.pattern-loop .col-1-2 .info-hold p {
		font-size: 14px;
		line-height: 15px;
	}

	.loop-one-three .col-1-6,
	.loop-three-one .col-1-6 {
		width: 31.33%;
		margin: 10px 1% 0;
	}

	.loop-six .col-1-6 {
		width: 48%;
		margin: 0 1% 12px;
		float: left;
	}

	.pattern-loop .info-hold {
		padding: 5px;
		min-height: 40px; 
	}

	.pattern-loop .col-1-6 .wrap .img-hold {
		max-height: none;
	}
	
	.pattern-loop .info-hold .name {
		font-size: 16px;
		font-weight: 500;
	}

	.pattern-loop .col-1-4 {
		width: 48%;
		margin: 0 1% 6px;
		float: left;
		padding-bottom: 0px;
	}

	.pattern-loop .col-1-4 .info-hold {
		min-height: 0;
	}

	.pattern-loop .col-1-4 .info-hold .name {
		font-size: 20px;
		line-height: 22px;
	}
}

/*****************************************************************************************************
*
*		Category Page
*
*****************************************************************************************************/
.grid.header {
	padding: 12px 0;
}

.category-cards .grid.header p {
	padding-left: 12px;
}

.grid.header p {
	width: 50%;
	font: 400 24px 'Source Sans Pro', sans-serif;
	float: left;
}

.mobile-categories-menu {
	display: none;
}

#blankslate-searchform,
#blankslate-searchform > * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@media (max-width: 600px){
	.grid.header p {
		padding: 0 18px;
		font: 400 18px/20px 'Source Sans Pro', sans-serif;
		width: 100%;
	}

	.grid.header a {
		margin-top: 12px;
	}

	.category-cards .desktop-menu {
		display: none;
	}

	.mobile-categories-menu {
		display: block;
	}
}

/*****************************************************************************************************
*
*		Sidebar Widget
*
*****************************************************************************************************/

#blankslate-container .bs-widget-pack.sidebar-businesses a i {
	margin-left: -1px;
}

.bs-widget-pack.sidebar-businesses {
	width: 300px;
	overflow: auto;
	margin: 0 auto;
}

.sidebar-businesses .sidebar-business {
	width: 48%;
	float: left;
	height: 105px;
	margin-bottom: 5px;
	margin-right: 2%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.sidebar-businesses .sidebar-business:nth-of-type(2n) {
	margin-right: 0;
	width: 50%;
}

.sidebar-business .info-hold {
	background: rgba(50,50,50,0.55);
	height: 85px;
	padding: 10px;
	display: block;
	position: relative;
}

	.sidebar-business .info-hold:hover {
		background: rgba(50,50,50,0.1);
	}

.sidebar-business .info-hold .text {
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding-right: 5px;
}

.sidebar-business .info-hold h4 {
	color: #fff;
	font: 500 16px 'Source Sans Pro', sans-serif;
	text-transform: capitalize;
}

.sidebar-business .info-hold h5 {
	color: #fff;
	font: 500 12px 'Source Sans Pro', sans-serif;
	text-transform: capitalize;
}

.sidebar-businesses header h3 a:link,
.sidebar-businesses header h3 a:visited {
	color: #fff;
}

.sidebar-businesses header h3 a:hover,
.sidebar-businesses header h3 a:active {
	color: #fff;
}

/*  No Overlay */

.sidebar-businesses .sidebar-business.no-overlay {
	width: 145px;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.sidebar-businesses .sidebar-business.no-overlay:hover {
	border-color: black;
}

.sidebar-businesses .sidebar-business.no-overlay:nth-of-type(2n) {
	width: 145px;
	margin-right: 0;
}

.sidebar-business.no-overlay {
	height: auto;
}

.sidebar-business.no-overlay img {
	float: left;
	border-bottom: 1px solid #fff;
}

.sidebar-business.no-overlay .text {
	background: #eaeaea;
	padding: 10px;
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.sidebar-business.no-overlay .text > a span,
.sidebar-business.no-overlay .text > a {
	display: block;
}

.sidebar-business.no-overlay .text .name {
	font: 600 14px/16px 'Oswald', serif;
	height: 35px;
}

.sidebar-business.no-overlay .text .neighborhood,
.sidebar-business.no-overlay .text .category,
.sidebar-business.no-overlay .text .address {
	font: 500 12px 'Source Sans Pro', sans-serif;
	height: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

.sidebar-business.no-overlay .image-hold {
	height: 108px;
	display: block;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	background-position: 50%;
	border-bottom: 1px solid #fff;
}

.sidebar-business.no-overlay a:hover {
	text-decoration: none;
}

/* Header */

.sidebar-businesses header i {
	font-family: 'FontAwesome';
	color: #aaa;
}


	#blankslate-sidebar-article.sidebar-businesses header .see-more,
	#blankslate-sidebar-aside.sidebar-businesses header .see-more {
		float: right;
	}
	
	#blankslate-sidebar-aside.sidebar-businesses header .see-more {
		margin-top: 6px;
	}

	#blankslate-sidebar-article.bs-widget-pack.sidebar-businesses h3,
	#blankslate-sidebar-aside.bs-widget-pack.sidebar-businesses h3 {
		underline: none;
		border: none;
		padding: 0;
		text-transform: capitalize;
		background: none;
		text-shadow: none;
		color: #000;
	}

	#blankslate-sidebar-article.bs-widget-pack.sidebar-businesses a,
	#blankslate-sidebar-aside.bs-widget-pack.sidebar-businesses a {
		color: #000;
	}

	/*
	*		Article Placement
	 */

	#article-wrapper .BlankSlateDirectorySidebarBusinesses {
		box-shadow: none;
		border: none;
		width: 100%;
	}

	#blankslate-sidebar-article.bs-widget-pack.sidebar-businesses {
		margin: 12px 0 0;
		width: 100%;
	}

	#blankslate-sidebar-article.sidebar-businesses .sidebar-business.no-overlay {
		width: 49%;
		margin-bottom: 10px;
		margin-right: 2%;
		border: 1px solid #ccc;
		box-sizing: border-box;
		max-width: 320px;
		float: left;
	}

	#blankslate-sidebar-article.sidebar-businesses .sidebar-business.no-overlay:hover {
		border-color: #000;
	}

	#blankslate-sidebar-article.sidebar-businesses .sidebar-business.no-overlay:nth-of-type(2n) {
		width: 49%;
		margin-right: 0;
		max-width: 320px;
		float: left;
	}

	#blankslate-sidebar-article .sidebar-business.no-overlay .image-hold {
		width: 50%;
		float: left;
		display: inline-block;
		border-bottom: none;
		border-right: 1px solid #FFF;
		box-sizing: border-box;
	}

	#blankslate-sidebar-article .sidebar-business.no-overlay .text {
		float: left;
		width: 50%;
		display: inline-block;
		height: 108px;
	}

	@media (max-width: 600px){
		#blankslate-sidebar-article.sidebar-businesses header {
			padding: 0 10px;
		}

		#blankslate-sidebar-article .sidebar-business.no-overlay .image-hold {
			height: 120px;
		}
		
		#blankslate-sidebar-article .sidebar-business.no-overlay .text {
			height: 120px;
		}

		#blankslate-sidebar-article.sidebar-businesses .sidebar-business.no-overlay,
		#blankslate-sidebar-article.sidebar-businesses .sidebar-business.no-overlay:nth-of-type(2n) {
			width: 90%;
			margin: 0 auto 10px;
			float: none;
			overflow: auto;
			max-width: none;
		}
	}


/*****************************************************************************************************
*
*		Tile Template
*
*****************************************************************************************************/

.blankslate-tile  {
	width: 25%;
	padding: 8px;
	box-sizing: border-box;
}

@media (max-width: 1024px){
	.blankslate-tile  {
		width: 33.33%;
	}
}

@media (max-width: 600px){
	.blankslate-tile  {
		width: 50%;
		padding: 5px;
	}
}

.blankslate-tile .content-hold {
	border: 1px solid #ececec;
	overflow: auto;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
}

.blankslate-tile .content-hold:hover {
	border-color: black;
}

.blankslate-tile img {
	float: left;
	border-bottom: 1px solid #fff;
}

.gutter-sizer {
	width: 10px;
}

.blankslate-tile .text {
	background: #fff;
	padding: 15px;
	display: block;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.blankslate-tile .text > a span,
.blankslate-tile .text > a {
	display: block;
}

.blankslate-tile .text .name {
	font: 500 16px/18px 'Oswald', serif;
	height: 36px;
	color: #000;
}

.blankslate-tile .text .neighborhood,
.blankslate-tile .text .category,
.blankslate-tile .text .address {
	font: 300 14px 'Source Sans Pro', sans-serif;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
	color: #666;
}

.blankslate-tile .text .icon-location {
	color: #000;
}

.blankslate-tile .image-hold {
	display: block;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	background-position: 50%;
	border-bottom: 1px solid #fff;
}

.blankslate-tile  a:hover {
	text-decoration: none;
}

/*****************************************************************************************************
*
*		Header Widget
*
*****************************************************************************************************/

.header-widget {
	margin: 18px 0;
}

.header-widget a i {
	font-size: 12px;
	font-weight: 100;
	margin-left: 6px;
}

.header-widget h1 {
	float: left; 
	color: #1C1C1C; 
	margin: 0;
	font: 600 45px 'Source Sans Pro', sans-serif;
}

.header-widget p { 
	font-size: 15px; 
	clear: both;
	border-bottom: solid #212121;
	padding-bottom: 13px;
	font: 500 15px 'Source Sans Pro', sans-serif;
}

@media (max-width: 728px){
	.header-widget {
		margin: 0;
	}

	.header-widget h1 {
		font-size: 28px;
		margin-bottom: 12px;
		width: 100%;
	}

	.header-widget a {
		float: left;
	}
}

/*****************************************************************************************************
*
*		Category Cards
*
*****************************************************************************************************/

.category-cards * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.category-cards .grid {
	padding-bottom: 20px;
}

.category-cards .card {
	width: 24%;
	float: left;
	background: #5e4b47;
	margin-right: 1%;
	padding: 15px;
	height: 120px;
	margin-bottom: 10px;
	position: relative;
}

.category-cards .mobile-categories-menu {
	cursor: pointer;
}

@media (max-width: 1024px){
	.category-cards .card {
		width: 49%;
	}
}

.category-cards .card:nth-of-type(4n){
	width: 25%;
	margin-right: 0;
}

@media (max-width: 1024px){

	.category-cards .card:nth-of-type(4n){
		width: 49%;
		margin-right: 1%;
	}

	.category-cards .card:nth-of-type(2n){
		width: 50%;
		margin-right: 0;
	}
}

.category-cards .card:hover {
	text-decoration: none;
	opacity: .8;
}

.category-cards .card span {
	font: 500 20px 'Source Sans Pro', sans-serif;
	color: #fff;
}

.more-categories {
	float: left;
	width: 100%;
	padding: 6px 0;
}

.more-categories li {
	width: 25%;
	float: left;
	padding: 0 0 0 6px;
	margin-bottom: 12px;
	min-height: 40px;
}

@media (max-width: 1024px) and (min-width: 601px){
	.more-categories li {
		min-height: 60px;
	}
}

	.more-categories li a {
		color: #5e4b47;
		font: 500 18px/20px 'Source Sans Pro', sans-serif;
	}

@media (max-width: 600px){
	.category-cards .mobile-categories-menu {
		background: #5e4b47;
		padding: 12px;
	}

	.category-cards .mobile-categories-trigger i {
		float: right;
		font-size: 28px;
		font-weight: 500;
		padding-right: 12px;
	}

	.category-cards .mobile-categories-menu span {
		color: #fff;
		font: 500 22px/24px 'Source Sans Pro', sans-serif;
		display: block;
	}

	.category-cards .mobile-categories-menu li {
		color: #fff;
		border-bottom: 1px solid #fff;
		padding: 6px 0;
	}

	.category-cards .mobile-categories-menu ul {
		margin-top: 12px;
	}

	.category-cards .mobile-categories-menu a {
		color: #fff;
		font: 500 18px 'Source Sans Pro', sans-serif;
	}
}

.card.showmore {
	position: relative;
	background: #928982;
}

.card .corner-triangle {
	position: absolute;
	bottom: 00;
	right: 0;
	border-width: 15px;
	border-left-color: #5E4B47;
	border-right-color: #4F3D3B;
	border-bottom-color: #4F3D3B;
	border-top-color: #5E4B47;
	border-style: solid;
}

.showmore.expanded .triangle {
	position: absolute;
	bottom: -40px;
	border-width: 20px;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: #928982;
	border-style: solid;
	left: 40%;
}


.hidden {
	display: none;
}

/*****************************************************************************************************
*
*		Blog Post and Ads
*
*****************************************************************************************************/

@media (max-width: 1024px){
	.page-content .otw-sixteen, .otw-row .otw-sixteen {
		width: 75%;
		margin: 0 auto;
		float: none;
	}

	.page-content .otw-eight, .page-content .otw-row .otw-eight {
		width: 320px;
		float: none;
		margin: 0 auto;
	}
}

@media (max-width: 728px){
	.otw-sixteen, .otw-row .otw-sixteen,
	.otw-eight, .otw-row .otw-eight {
		width: 100%;
	}

	.widget_adzonewidget div {
		margin: 0 auto;
	}

	.otw-row .FeaturedPostsWidget ul.slider li .description {
		padding: 0;
	}
}

/*****************************************************************************************************
*
*		Modules
*
*****************************************************************************************************/

/*
*	Promote 'Button'
**/
.bs-widget-pack a.promote-button {
	float: right;
	color: #4DBCDA;
	border: 3px solid #01A0C8;
	text-decoration: none;
	padding: 6px 6px 8px;
	font: 500 16px/16px 'Source Sans Pro', sans-serif;
}

.bs-widget-pack a.promote-button:hover {
	opacity: .8;
}

.bs-widget-pack a.promote-button i {
	font-size: 12px;
	font-weight: 100;
	margin-left: 6px;
}


/*
*	State
**/

.bs-widget-pack .display-false {
	display: none;
}